<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->

	<bean class="com.dao.UserDao" id="userDao" scope="prototype">
	</bean>

	<bean class="com.controller.UserController" id="userController">
		<constructor-arg ref="userDao"></constructor-arg>
		<property name="paymentDao" ref="paymentDao"></property>
	</bean>
	
	<bean class="com.dao.PaymentDao" id="paymentDao"></bean>
</beans>